# Python
__pycache__/
*.pyc

# Virtualenv
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/
.DS_Store

# Tests
.pytest_cache/
.coverage
htmlcov/

# Artefacts de build locaux
M-Motors-*.html
LOGS.txt
*.pdf
